<!-- /.navbar-top-links -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li>
            <a class="menu{{ select == 'exercicis' ? ' active'}}" href=""><i class="fa fa-dashboard fa-fw"></i> provatinaExercicis</a>
        </li>
        <li>
            <a class="menu{{ select == 'estadistiques' ? ' active'}}" href=""><i class="glyphicon glyphicon-stats fa-fw"></i> Estadístiques</a>
        </li>
        <li>
            <a class="menu{{ select == 'usuaris' ? ' active'}}" href=""><i class="fa fa-user fa-fw"></i> Usuaris</a>
        </li>
        <li>
            <a class="menu" href="forms.html"><i class="fa fa-file-pdf-o fa-fw"></i> Documentació</a>
        </li>
        <li>
            <a class="menu" href="forms.html"><i class="fa fa-envelope fa-fw"></i> Contacta amb nosaltres</a>
        </li>
      </ul>
    </div>
</div>
